<?xml version="1.0"?>
<!--
  ~ @author     The S Group <support@sashas.org>
  ~ @copyright  2020  Sashas IT Support Inc. (https://www.sashas.org)
  ~ @license     http://opensource.org/licenses/GPL-3.0  GNU General Public License, version 3 (GPL-3.0)
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="TheSGroup\WebAuthn\Api\RegistrationInterface" type="TheSGroup\WebAuthn\Model\Registration"/>
    <preference for="TheSGroup\WebAuthn\Api\CredentialSourceRepositoryInterface" type="TheSGroup\WebAuthn\Model\CredentialSourceRepository"/>
    <preference for="TheSGroup\WebAuthn\Api\Data\CredentialSourceInterface" type="TheSGroup\WebAuthn\Model\Data\CredentialSource"/>
    <preference for="TheSGroup\WebAuthn\Api\Data\CredentialSourceSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
</config>
